



<app-aladin-products-clothes (newItemEvent)="triggeraction($event)" *ngIf="data.category=='clothes'"></app-aladin-products-clothes>

<app-aladin-products-packs (newItemEvent)="triggeraction($event)" *ngIf="data.category=='packs'"></app-aladin-products-packs>