.pagination{
    margin: 12px;
}
.page-item, .link{
    margin-left: 24px;
    border-radius: 32px;
    color: white;
    background-color: #324161;
}
.page-item.active .link{
    color: white;
    //background-color: green;
   
}
.page-item:hover .link:hover{
    //color: white;
    //background-color: #fab91a; 
    border: none;
}
img{
    margin: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    //position: fixed;
    
}
.page-item.active .link{
    background-color: green;
}
h6{
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: #324161;
    border: solid 1px #eee;
    text-align: center;
    background-color: #fab91a;
    height: 30px;
   //margin-top: 20px;
}
.btn{
    box-shadow: none;
    color: white;
    background-color: #324161;
}
.btn:hover{
    background-color: #324161;
    color: white;
}